{% if is_paginated %}
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center custom-pagination">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_form.cleaned_data %}&{{ search_form.urlencode }}{% endif %}">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-chevron-left"></i></span>
        </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">
          {{ page_obj.number }} / {{ paginator.num_pages }}
        </span>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_form.cleaned_data %}&{{ search_form.urlencode }}{% endif %}">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fas fa-chevron-right"></i></span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}